# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Studying\Netherlands\University of Twente\UT\Foundation of Interaction Tech\Twitterbots\Twitter-Bot\Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
